﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IntenZ News</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Main CSS -->
    <link href="~/styles/main.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    @RenderSection("styles", false)
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">IntenZ News</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="index">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="News">News</a>
                    </li>
                    <li class="nav-item">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="account" asp-action="Logout" class="nav-link">Logout</a>
                        }
                        else
                        {
                            <a asp-controller="account" asp-action="Login" class="nav-link">Login</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main id="main-wrapper">

        @RenderBody()
    </main>
    <footer>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Bootstrap/bootstrap.min.js"></script>
    @RenderSection("scripts", false)


</body>

</html>
