﻿@model NewsCardVm
<div class="container news-post">
    <article class="card news-card col-10" data-post="@Model.Id">
        <section class="news-header">
            <h5 class="card-title">@Model.Header</h5>
            @if (User.IsInRole(Roles.Admin))
            {
                <span class="remove-news"><i class="far fa-times-circle"></i></span>
            }
        </section>
        <div id="card-id-@Model.Id" class="card-body">
            <div class="author-date-div">
                <span class="author">@Model.Author</span><span class="published-at">@Model.PublishedAt</span>
            </div>
            <p class="card-text">@Model.Content</p>
            <nav class="card-nav" data-post="@Model.Id">
                <div class="news-like float-left mr-2">
                    @if (Model.Liked)
                    {
                        <i class="fas fa-heart class-icon liked"></i>
                    }
                    else
                    {
                        <i class="fas fa-heart class-icon"></i>
                    }
                    <span class="like-count">@Model.LikesCount</span>
                </div>
                <div class="news-comment">
                    <i class="far fa-comment"></i><span class="comment-count">@Model.CommentCount</span>
                    <span>| Read comments</span><i class="fas fa-angle-down show-comments" data-clicked="false" data-toggle="collapse" data-target="#post-comment-@Model.Id"
                                                   aria-expanded="false" aria-controls="post-comment-@Model.Id"></i>
                </div>
            </nav>
            <div id="post-comment-@Model.Id" class="collapse comment-section">
                <section>
                    <textarea class="form-control comment-input" rows="3"></textarea>
                    <button class="btn-sm btn-danger post-comment pl-3 pr-3 ml-3 mb-3" id="post-comment-@Model.Id">Post</button>
                </section>
                <section class="comments"></section>
                <div class="older-posts">Show older comments</div>
            </div>

        </div>
    </article>
</div>