﻿@model LoginVm
@section styles{
    <link href="~/styles/Login.css" rel="stylesheet" />
}
<div class="container">
    <h1 class="form-heading">login Form</h1>
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Login</h2>
                <p>Please enter your Username and Password</p>
            </div>
            <div asp-validation-summary="ModelOnly"></div>
            <form id="Login" asp-controller="Account" asp-action="Login">
                <div class="form-group">
                    <input type="text" asp-for="UserName" class="form-control" id="inputEmail" placeholder="Username">
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Password" class="form-control" id="inputPassword" placeholder="Password">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="forgot">
                    <label asp-for="RememberMe"></label>  <input type="checkbox" asp-for="RememberMe" /> <a asp-controller="Account" asp-action="Create">Register User</a>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    }