﻿
body {
    background-color: black;
    color: white;
}

i {
    font-size: 25px;
}

footer {
    background-color: #343a40;
    text-align: center;
    padding: 15px;
    width: 100%;
}

    footer i {
        font-size: 50px;
        color: lightgray;
        margin: 0 20px;
    }

#main-wrapper {
    min-height: 85vh;
}

.validation-summary-errors {
    background-color: #fbc6c6;
    border: 1px solid red;
    color: black;
    border-radius: 8px;
    margin: 10px 0;
}

    .validation-summary-errors ul {
        padding: 10px;
        margin: 0;
        list-style-type: none;
    }

.field-validation-error {
    color: red;
}