﻿form {
    margin: auto;
}

hr {
    margin: 3px;
    background-color: rgba(255, 0, 0, 0.2);
}

article {
    padding: 0 !important;
}

button {
    cursor: pointer;
}

.news-card {
    margin: 20px auto;
    color: black;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0.5px 0.5px 15px white;
}

.card-body {
    padding: 0 10px;
}

.news-header {
    background-color: darkred;
    color: aliceblue;
    padding: 0px 20px !important;
}

.comments {
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0.1px 0.1px 5px grey;
    display: none;
}

.published-at, .author {
    margin: 0 30px 10px 30px;
}

p.card-text {
    padding: 30px;
    white-space: pre-wrap;
    font-size: 1.2em;
}

h5.card-title {
    display: inline-block;
    width: 95%;
    padding: 10px;
    padding-right: 0;
    margin: 0;
}

.author-date-div {
    border-bottom: 2px solid grey;
}

.card-nav {
    height: 45px;
}

.older-posts {
    display: block;
    background-color: #f4f3f3;
    border: 1px solid grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0;
    box-shadow: 0 2px 8px #9b9b9b;
    padding: 5px;
    margin: 0 auto 10px auto;
    text-align: center;
    cursor: pointer;
    width: 80%;
}

    .older-posts:hover {
        border: 2px solid black;
        border-top: 0;
    }

.comment-div {
    border: 1px groove lightgrey;
    border-bottom: 0;
    padding: 5px;
}

    .comment-div:last-of-type {
        border-bottom: 1px groove lightgrey;
    }

.comment-content {
    padding: 5px 10px;
    white-space: pre-wrap;
}

.comment-author {
    margin: 0 30px;
    font-weight: 500;
}

.comment-date {
    margin-right: 50px;
}

.comment-input {
    border: 3px solid lightblue;
}

.news-like:hover {
    cursor: pointer;
}

.liked {
    color: darkred;
}

.show-comments {
    padding: 4px 8px;
    margin-left: 5px;
    display: inline-block;
    border: 2px solid rgba(0,0,0, 0.3);
    border-radius: 5px;
    background-color: white;
    font-size: 1em;
}
    .show-comments:hover {
        border: 2px solid rgba(0,0,0, 0.4);
        cursor: pointer;
    }

#show-new-post {
    padding: 5px;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-radius: 0 0 8px 8px;
}

#show-new-post:hover {
    cursor: pointer;
}

#new-post-section {
    margin-bottom: 0 !important;
}

.new-post-form {
    border: 1px solid grey;
    border-top: 0;
    padding-bottom: 8px;
}

.remove-news {
    cursor: pointer;
}

#no-news {
    text-align: center;
    margin-top: 50px;
}

.post-comment{
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.post-comment:hover {
    cursor: pointer;
}

.comment-section {
    padding-bottom: 8px;
}
