﻿@model NewsIndexVm

@section styles{<link href="~/styles/news.css" rel="stylesheet" />}
@if (User.IsInRole(Roles.Admin))
{
    <section class="container mb-3 collapse col-10" id="new-post-section">
        <form class="col-8 new-post-form" asp-controller="News" asp-action="CreatePost">
            <div class="form-group">
                <label asp-for="CreatePostVm.Header"></label>
                <input class="form-control" asp-for="CreatePostVm.Header" />
                <span asp-validation-for="CreatePostVm.Header"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatePostVm.Content"></label>
                <textarea class="form-control" asp-for="CreatePostVm.Content" rows="3"></textarea>
                <span asp-validation-for="CreatePostVm.Content"></span>
            </div>
            <button class="btn-sm btn-danger" type="submit">Post</button>
        </form>
    </section>
    <div id="show-new-post" class="container col-5" data-clicked="false" data-toggle="collapse" data-target="#new-post-section" aria-expanded="false" aria-controls="new-post-section">
        Post a New News-Post
    </div>
}

@if (Model.HasNews)
{
    foreach (var news in Model?.NewsList)
    {
        <partial name="_NewsCard" model=news />
    }
}
else
{
        <div id="no-news">
            <h3>No news have been announced yet.</h3>
            <br />
            <h4>Stay Tuned</h4>
        </div>
}



@section scripts {
    <script src="~/scripts/news.js"></script> }